<!DOCTYPE HTML>

<html>
	<head>
		<title>登录-零度</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../static/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="icon" type="image/x-icon" href="http://nyloner.cn/static/images/head_img.png">

		<!--[if lte IE 9]><link rel="stylesheet" href="../static/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="../static/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="../">零度</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="../home">主页</a></li>
							<li>
								<a href="../articles">文章</a>
							</li>
							<li><a href="../books">小书屋</a></li>
							<li><a href="../tools">工具箱</a>
								<ul>
									<li><a href="../proxy">代理IP</a></li>
								</ul>
							</li>
							<li><a href="../projects">项目</a></li>
							<li><a href="../marks">BookMarks</a></li>
							<li><a href="{{ url }}" class="{{ class }}">{{ name }}</a>
								{% if num <= 1 %}
								<ul>
									<li><a href="{{ url }}">个人中心</a></li>
									<li><a href="../blog_logout" >Logout</a></li>
								</ul>
								{% endif %}
							</li>
						</ul>
					</nav>
				</header>

                <div id="main" class="wrapper style1">
					<div class="container">
						<!-- Content -->
							<section id="content">
                                <h3>登录</h3>
                                <form method="post" action="" id="loginform">
									<div class="4u 12u$(xsmall)">
										<input type="text" name="username" id="username"  placeholder="Userame" />
									</div>
									<span><br></span>
									<div class="4u$ 12u$(xsmall)">
										<input type="password" name="password" id="password" placeholder="Password" />
									</div>
									<span><br></span>
									<div class="4u$ 12u$(xsmall) ">
										<label id="verifyinfor"></label>
										<input  height"40" type="text" name="verifycode" id="verifycode" placeholder="Verifycode" style="width:50%;float:left;"/>
										<img id='imgCode' title="看不清？" src="../verifycode" onclick="ChangeCode();" style="float:left;vertical-align:center;margin:10px;" width="100" height="50"/>
									</div>
									<br></br>
									<div class="12u$">
										<ul class="actions">
											<li><input id='submit' type="submit" value="登录" class="special" onclick="return base64()"/></li>
										</ul>
									</div>
                                </form>
							</section>
					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://github.com/Nyloner" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="mailto:nyloner.root@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; nyloner.cn. All rights reserved.</li>
						<li>Github: <a href="https://github.com/Nyloner" >Nyloner</a></li>
						<li>Email: <a href="mailto:nyloner.root@gmail.com">nyloner.root@gmail.com</a></li>
						<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
		</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/jquery.dropotron.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
            <script src="../static/js/base64.js"></script>
			<!--[if lte IE 8]><script src="../static/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/js/main.js"></script>
            <script type="text/javascript">
                function base64(){
                    var passwd=document.getElementById("password").value;
                    encode_passwd=Base64.encode(passwd);
                    document.getElementById("password").value=encode_passwd;
                    $("#loginform").submit();
                    return;
                };
				function ChangeCode(){
					var code = document.getElementById('imgCode');
					var timestamp = Date.parse(new Date());
					code.src='../verifycode?t='+timestamp;
				};
				$(function() {
					$("#verifycode").change(function(){
						var inputcode=document.getElementById('verifycode').value
						var request = new XMLHttpRequest();
						request.onreadystatechange=requestCallback;
						request.open("GET","../verifycode?inputcode="+inputcode);
						request.send();
						function requestCallback(){
							status=request.responseText;
							var label=document.getElementById('verifyinfor')
							labelvalue=label.innerText;
							if(status=='False'){
								$("#verifyinfor").html("验证码错误！");
							}
							else{
								$("#verifyinfor").html("OK!");
							}
						};
					});
				});
            </script>
	</body>
</html>
