<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Nyloner</title>
    <link href="../static/resume.css" rel="stylesheet">
</head>
<body>
<div class="header">
    <a href="/" class="title">Nyloner</a>
    <div class="items">
        <a href="/home" class="item">首页</a>
        <a href="/about" class="item">关于</a>
    </div>
</div>
<div class="resume">
    <div class="button-group">
        <a target="_blank" href="./static/files/resume.pdf" class="button">下载PDF</a>
        <a href="javascript:window.print();" class="button">打印简历</a>
    </div>
    <div class="wrapper">
        <div class="info">
            <div class="name">Nyloner</div>
            <div class="subtitle">
                <div class="item"><a href="mailto:nyloner.root@gmail.com"></a>nyloner.root@gmail.com</div>
                <div class="item"><a target="_blank" href="https://nyloner.cn">https://nyloner.cn</a></div>
                <div class="item"><a target="_blank" href="https://github.com/Nyloner">https://github.com/Nyloner</a>
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="block">
            <div class="title">教育经历</div>
            <div class="content">
                <div class="item">
                    <div class="title">华中科技大学／本科／计算机科学与技术
                        <div class="right">2014.09 - 2018.06</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="title">个人技能</div>
            <div class="content">
                <div class="item">
                    <div>
                        <b>C/C++</b>、<b>Python</b>、<b>Django</b>、<b>爬虫</b>、<b>Linux</b>、<b>Git</b>、<b>计算机网络</b>、<b>数据结构</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="title">实习经历</div>
            <div class="content">
                <div class="item">
                    <div class="title">华为武汉研究所／应用软件开发
                        <div class="right">2017.07 - 2017.08</div>
                    </div>
                    <ul>
                        <li>参与 ONT 上防火墙部分功能的开发</li>
                        <li>负责部门内部使用的报文命中分析工具的开发</li>
                    </ul>
                </div>
                <div class="item">
                    <div class="title">武汉悦然心动／后台开发工程师
                        <div class="right">2017.03 - 2017.06</div>
                    </div>
                    <ul>
                        <li>负责实现公司各应用小游戏的后台服务</li>
                        <li>参与开发应用的游戏商店，等级系统等功能，均已上线。</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="title">项目经历</div>
            <div class="content">
                <div class="item">
                    <div class="title">个人网站
                        <div class="right">2016.08 - 2016.09</div>
                    </div>
                    <ul>
                        <li>基于Django搭建的个人网站，部署于个人的Linux服务器</li>
                        <li>项目地址 <a href="https://github.com/Nyloner/NyBlog">https://github.com/Nyloner/NyBlog</a></li>
                    </ul>
                </div>
                <div class="item">
                    <div class="title">Compiler
                        <div class="right">2016.12 - 2016.12</div>
                    </div>
                    <ul>
                        <li>C--语言编译器，能够在自己搭建的32位MIPS CPU上正常运行编译出的汇编代码</li>
                        <li>项目地址 <a href="https://github.com/Nyloner/Compiler">https://github.com/Nyloner/Compiler</a>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <div class="title">HttpServer
                        <div class="right">2016.12 – 2017.01</div>
                    </div>
                    <ul>
                        <li>基于线程池实现的一个HTTP服务器</li>
                        <li>项目地址 <a
                                href="https://github.com/Nyloner/HttpServer">https://github.com/Nyloner/HttpServer</a>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <div class="title">Nyspider
                        <div class="right">2015.07 – 2017.01</div>
                    </div>
                    <ul>
                        <li>针对各种网站编写的爬虫程序</li>
                        <li>维护了一个高匿代理IP池 <a href="https://nyloner.cn/proxy">(https://nyloner.cn/proxy)</a></li>
                        <li>熟悉常见反爬策略的应对</li>
                        <li>项目地址 <a href="https://github.com/Nyloner/Nyspider">https://github.com/Nyloner/Nyspider</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="title">技能评价</div>
            <div class="content">
                <ul>
                    <li>熟悉 C/C++、Python</li>
                    <li>熟悉 Django Web开发框架</li>
                    <li>熟悉 Linux 开发环境</li>
                    <li>有丰富的爬虫开发经验</li>
                    <li>具有扎实的计算机基础知识</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/app.js"></script>
<div class="footer">© 2017 nyloner.cn</div>
</body>
</html>
